<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ef87913a2ca03af37091276ce0751359 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_ef87913a2ca03af37091276ce0751359" ></div>
        
</body>
<script>
    
    
            var map_ef87913a2ca03af37091276ce0751359 = L.map(
                "map_ef87913a2ca03af37091276ce0751359",
                {
                    center: [35.7336646, 51.2565563],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0bf2225dbe97905f4ed855f48e613ba3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ef87913a2ca03af37091276ce0751359);
        
    
            var marker_e3894fca73e4e054a78ed3861e90fbf6 = L.marker(
                [35.8224892, 50.9904681],
                {}
            ).addTo(map_ef87913a2ca03af37091276ce0751359);
        
    
        var popup_cc6cd358c701a7cd1e04205f8a3f0dec = L.popup({"maxWidth": "100%"});

        
            
                var html_6f1349130ccf48fa7d26797383c66193 = $(`<div id="html_6f1349130ccf48fa7d26797383c66193" style="width: 100.0%; height: 100.0%;">some areas of Karaj are not safe and you cant walk there lonely</div>`)[0];
                popup_cc6cd358c701a7cd1e04205f8a3f0dec.setContent(html_6f1349130ccf48fa7d26797383c66193);
            
        

        marker_e3894fca73e4e054a78ed3861e90fbf6.bindPopup(popup_cc6cd358c701a7cd1e04205f8a3f0dec)
        ;

        
    
    
            var marker_c5fe594728b06adcfd4d152e79089b7e = L.marker(
                [35.6892523, 51.3896004],
                {}
            ).addTo(map_ef87913a2ca03af37091276ce0751359);
        
    
        var popup_eaf826fa13d52c6f789481afaffdfbd3 = L.popup({"maxWidth": "100%"});

        
            
                var html_bf593e8f35cf68ec369a62a40dcb2b16 = $(`<div id="html_bf593e8f35cf68ec369a62a40dcb2b16" style="width: 100.0%; height: 100.0%;">Azadi Square is the symbol of Tehran</div>`)[0];
                popup_eaf826fa13d52c6f789481afaffdfbd3.setContent(html_bf593e8f35cf68ec369a62a40dcb2b16);
            
        

        marker_c5fe594728b06adcfd4d152e79089b7e.bindPopup(popup_eaf826fa13d52c6f789481afaffdfbd3)
        ;

        
    
    
            var marker_f353e4c90456b52a2f10bc4169608158 = L.marker(
                [35.6892523, 51.3896004],
                {}
            ).addTo(map_ef87913a2ca03af37091276ce0751359);
        
    
        var popup_ee84cf345ca60e61c828886296d21b56 = L.popup({"maxWidth": "100%"});

        
            
                var html_580e82ff184bd2e4733c33c22c44074e = $(`<div id="html_580e82ff184bd2e4733c33c22c44074e" style="width: 100.0%; height: 100.0%;">it is terrible traffic and a robber took my wallet in north Tehran.</div>`)[0];
                popup_ee84cf345ca60e61c828886296d21b56.setContent(html_580e82ff184bd2e4733c33c22c44074e);
            
        

        marker_f353e4c90456b52a2f10bc4169608158.bindPopup(popup_ee84cf345ca60e61c828886296d21b56)
        ;

        
    
</script>
</html>